
#ignore emacs backup and lock files:
*~
\#*\#
.\#*

#Also needed for vi:
.*.sw?

#ignore tempory cmake build output and installations:
/testcode/utils/cache/

#Extra protection against adding in build output created by custom user commands:
*.so
*.dylib
*.dll
*.o
*.a
*.pyc
*.pyo
*.exe
*.gch
*.out
*.slo
*.lo
*.obj
*.pch
*.exe
*.app

__pycache__/
build/

testcode/data/njoy_calc.txt
testcode/data/teshi.dat
testcode/data/vesuvio_unc.dat
testcode/data/vesuvio.dat
testcode/data/vesuvio_4mm.inp
testcode/scripts/plotradicand.py


#Miscellaneous:
.DS_Store
vgcore.*
.vscode/
