
#ignore emacs backup and lock files:
*~
\#*\#
.\#*

#Also needed for vi:
.*.sw?

/venv/

#Extra protection against adding in build output created by custom user commands:
*.so
*.dylib
*.dll
*.o
*.a
*.pyc
*.pyo
*.exe
*.gch
*.out
*.slo
*.lo
*.obj
*.pch
*.exe
*.app

__pycache__/
.vscode/

#Miscellaneous:
.DS_Store
vgcore.*
